/* Estilos laptop 1200px */
body {
  background-color: rgb(243, 242, 242);
  margin: 0px;
}

#header {
  background-color: rgb(211, 211, 211);
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cajaLogo img {
  width: 200px;
}

.cajaBarraNav ul {
  padding: 0px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

#main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 50vh;
}

#main form{
  background-color: rgb(185, 184, 184);
  padding: 5%;
  border-radius: 20px;
}

/* Estilos tablet 768px */

@media (max-width: 768px) {
  .cajaLogo,
  .cajaBarraNav,
  .cajaFormulario {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  #header {
    flex-direction: column;
    height: 150px;
  }

  .cajaBarraNav ul {
    list-style-type: none;
  }
}

/* Estilos Telefono 420px */
@media (max-width: 420px) {
  .cajaBarraNav ul {
    flex-direction: column;
  }

  #header {
    height: 350px;
  }

  .cajaBarraNav ul li {
    background-color: gray;
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cajaBarraNav ul li a {
    color: white;
  }
}
