body {
  background-color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}
header {
  background-color: #eee;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 130px;
  border-radius: 0px;
}
header form {
  display: flex;
  gap: 5px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
form {
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
input {
  margin: 10px;
  padding: 8px;
  width: 200px;
}
button {
  background-color: #0552a5;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


img {
  border-radius: 50%;
  width: 150px;

}
